
@page "/"
<div class="container">
    <div class="row mt-2">
        <div class="col-sm-6">
            Enter text:
        </div>
        <div class="col-sm-6">
            <input type="text" placeholder="Enter text"
                   @onchange="UpdateNumberOfPlayer" />
        </div>
        <div class="row mt-5">
            <button type="button" class="btn btn-primary"
                    @onclick="SetNumberOfPlayer">
                Next
            </button>
        </div>
    </div>
    <div>

    </div>
    <div class="row mt-5">
        <h2>
            <strong>@DisplayAlart</strong>
        </h2>
    </div>
</div>

@inject NavigationManager NavigationManager

@code
{
    private string DisplayAlart = "";
    int players;

    private void UpdateNumberOfPlayer(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value.ToString(), out int result) == false
                || result < 2 || result > 8)
        {
            //DisplayValue = e.Value.ToString();
            DisplayAlart = "Invalid number of players.";
        }
        else
        {
            DisplayAlart = "";
            players = result;
        }

    }

    void SetNumberOfPlayer()
    {
        CardTable.numberOfPlayers = players;
        NavigationManager.NavigateTo("/GetNumberOfPlayer");
        Game.DoNextTask();
    }
}
