
@page "/"
<style>
    .container {
        padding-top: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>
<div class="container">
    <h1 class="text-center" style="text-align:center">Race To 21</h1>
    <button button type="button" class="btn btn-primary" 
            @onclick="() => { SetUpGame(); SetNumberOfPlayer(); }">
        START
    </button>
</div>

@inject NavigationManager NavigationManager

@code
{
    public static CardTable cardTable = new CardTable();

    public static void SetUpGame()
    {
        Game game = new Game(cardTable);
        Game.players = new List<Player>();
    }

    void SetNumberOfPlayer()
    {
        NavigationManager.NavigateTo("/GetNumberOfPlayer");
    }
}
