
@page "/"
<style>
    body {
        font-family: 'Lilita One', cursive;
    }

    .container {
        padding-top: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">

<div class="container">
    <h1 class="text-center" style="text-align:center">Race To 21</h1>
    <button button type="button" class="btn btn-primary"
            @onclick="() => { SetUpGame(); SetNumberOfPlayer(); }">
        START
    </button>
</div>


@inject NavigationManager NavigationManager

@code
{
    public static CardTable cardTable = new CardTable();

    public static void SetUpGame()
    {
        Game game = new Game(cardTable);
        Game.players = new List<Player>();
    }

    void SetNumberOfPlayer()
    {
        NavigationManager.NavigateTo("/GetNumberOfPlayer");
    }
}
